package around

import "net/smtp"

func getApiKey() string {
	return ""
}

func getCampfireDomain() string {
	return ""
}

func getRoomId() string {
	return ""
}

func getApiUrl() string {
	return ""
}

func getSmtpAuth() smtp.Auth {
	auth := smtp.PlainAuth(
		"",
		"",
		"",
		"smtp.sendgrid.net",
	)
	return auth
}